
div{
    font-family: "Montserrat", 'Cousine', sans-serif;
}

div.news{
    padding: 10%;
}

@keyframes reg-close {
    0% {background-color: #337ab7;}
    50% {background-color: #FF8800;}
    100% {background-color: #000;}
}
#RegClose{
    padding: 10px;
    position: fixed;
    color: #337ab7;
    bottom: 70px;
    z-index: 1499;    
}
#RegClose .date{
    padding: 10px;     
    background-color: #337ab7; 
    color: #FFF; 
    animation-name: reg-close;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}