.navbar.navbar-brand{ border-bottom:none!important; }
.navbar .navbar-header a{ padding: 0px 15px !important;}
.main-menu li a {
    color: white!important;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    border-bottom:none!important;
}
 .main-menu li a:hover{
           color: yellow!important;
}
.navbar
{
    background: rgba(0,0,0, 0.35) !important;
}
nav ul li .active{
	        color: Yellow !important;
	        font-weight:400 !important; 
}
ol li {
	list-style-type: decimal;
}