.navbar.navbar-brand{ border-bottom:none !important; }
.navbar .navbar-header a{ padding: 0px 15px !important;}
.main-menu li a {
    color: white!important;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    border-bottom:none!important;
}

.main-menu li a:hover{ color: yellow!important; }

.navbar { background: rgba(0,0,0, 0.35) !important; }

nav ul li .active{
	        color: Yellow !important;
	        font-weight: 400 !important; 
}

li.bullets { list-style-type: circle; }
li.decimal  { list-style-type: decimal; }
li.lower_alpha  { list-style-type: lower-alpha !important; }
li.upper_alpha  { list-style-type: upper-alpha; }
li.lower_roman  { list-style-type: lower-roman !important; }
